<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/grade.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <div class="rows linha">
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
            <div class="cel1">1</div>
        </div>
        <div class="rows linha">
            <div class="cel6">2</div>
            <div class="cel6">2</div>
        </div>
        <div class="rows linha">
            <div class="cel4">3</div>
            <div class="cel4">3</div>
            <div class="cel4">3</div>
        </div>
        <div class="rows linha">
            <div class="cel3">4</div>
            <div class="cel3">4</div>
            <div class="cel3">4</div>
            <div class="cel3">4</div>
        </div>
        <div class="rows linha">
            <div class="cel2">6</div>
            <div class="cel2">6</div>
            <div class="cel2">6</div>
            <div class="cel2">6</div>
            <div class="cel2">6</div>
            <div class="cel2">6</div>
        </div>
        <div class="rows linha">
            <div class="cel3">3</div>
            <div class="cel8">8</div>
        </div>
        <div class="rows linha">
            <div class="cel4">4</div>
            <div class="cel9">9</div>
        </div>
        <div class="rows linha">
            <div class="cel2">2</div>
            <div class="cel10">10</div>
        </div>


    </div>


</body>

</html>